* {
    font-family: 'Arial', sans-serif;
}
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    body {
        background-color: rgb(244, 172, 254);
        color: rgb(249, 212, 232);
    }
    button {
        background-color: rgb(205, 120, 216);
        border: 1px dashed rgb(220, 145, 200);
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
    }