 *  {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
 }

    h1 {
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 10px}

    input[type="text"] {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #fbd3ff;
        border-radius: 4px;
        width: 600px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
        body {
        background-color: rgb(255, 229, 229);
        }
    input[type="checkbox"] {
        margin-top: 20px;
        width: 30px;
        height: 30px; 
    }
    button {
        border: 1px dashed rgb(220, 145, 200);
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        margin-bottom: 20px;
    }

